$headerImage: url("../img/m-h-day.jpg");
$heading: 'Source Sans Pro', sans-serif;
$body: 'Hind', sans-serif;
$underscoresColor:#14a0c7;
$headerTextColor: #322f3c;
$color:#2c2f3c;
$buttonColor:#699900;
$sectionCard-FooterColor: #21232e;
$bodycolor:none;
$gradientColor1: #639314;
$gradientColor2:#2e5cd8;
$start:150px;