$headerImage: url("../img/m-h-night.jpg");
$heading: 'Source Sans Pro', sans-serif;
$body: 'Fresca', sans-serif;
$underscoresColor:#ff4e33;
$headerTextColor: #fff;
$color:#fff;
$buttonColor:#e3ac00;
$sectionCard-FooterColor: #3b3f50;
$bodycolor:#21232e;
$gradientColor1: #dca206;
$gradientColor2: #922b52;
$start:130px;